<% include ../partials/header.ejs %>

	<h1>Waxxy - All Users</h1>

	<ul>
		<% users.forEach(elem => { %>
			<li><a href="/users/<%=elem._id%>"><%=elem.username%></a></li>
		<% }); %>
	</ul>

</body>
</html>