<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav>
		<a href="/auth/login">Login</a>
		| <a href="/auth/register">Register</a>
		| <a href="/auth/logout">Logout</a>
		| <a href="/users">All Users</a>
	</nav>

	<h1>Waxxy - All Users</h1>

	<ul>
		<% users.forEach(elem => { %>
			<li><a href="/users/<%=elem._id%>"><%=elem.username%></a></li>
		<% }); %>
	</ul>

</body>
</html>