<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<nav>
		<a href="/auth/login">Log In</a>
		<a href="/auth/register">Register</a>
	</nav>

	<h1>WAXXY - Home</h1> 



	<%=data%>

</body>
</html>