  <% include ./partials/header.ejs %>

	<h1>WAXXY - Home</h1> 


	My Profile:<br>
		- Profile link (or login)<br>
	<br><br>
	Popular Albums:<br>
		- Album Title | Artist<br>
		- ...<br>
		<br><br>
	Popular Shelves: <br>
		- Shelf Title | Shelf Creator<br>
		- ...<br>
	<br><br>
	Random: <br>
		- ...<br>
		- ...<br>

	

</body>
</html>