  <% include ../partials/header.ejs %>

	Not a member? Register <a href="/auth/register">here</a>.

	<h1>Log In</h1>

	<fieldset>
		<legend>User Login: </legend>
		<form action="/auth/login" method="POST">
			<br>
			Username: <input type="text" name="username"><br><br>
			Password: <input type="password" name="password"><br><br>
			<button type="submit">Log In</button>
		</form>	
	</fieldset>

</body>
</html>