<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
</head>
<body>
	<header>
		<h1>LinerNotes</h1>
	</header>
	<main>
		<ul>
			<%linerNotes.forEach((elem, i) => {%>
				<li><b><a href="/linerNotes/<%=elem.id%>">elem.author</a>:</b><br>
					<%=elem.body%>
				</li>
			<%})%>
		</ul>
	</main>
</body>
</html>