<% include ../partials/header.ejs %>

	<fieldset>
		<legend>New Shelf: </legend>
		<form action="/shelves" method="POST">
			Title: <input type="text" name="title"><br><br>
			Albums: <br>
			<% allAlbums.forEach(oneAlbum => { %>
				<div>
					<input type="checkbox" name="albums" value="<%= oneAlbum.id %>">
					Album Title: <%=oneAlbum.title%> | Album Artist: <%=oneAlbum.artist%>
				</div>
			<% }) %>
			<br>
			<button>Create Shelf</button>
		</form>
	</fieldset>

</body>
</html>