<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Add to Shelves:</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/albums/new">New</a></li>
				<li><a href="/search/">New Search</a></li>

			</ul>
		</nav>
	</header>	
	<main>
	<h2>Albums</h2>
		<%albums.forEach((elem, i) => {%>
			<li><a href="/albums/<%=elem.id%>"><i><%=elem.title%></i>, <%=elem.artist%></a></li>
		<%})%>
	</main>
</body>
</html>