  <% include ../partials/header.ejs %>

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1><%=album.title%></h1>
		<h2><%=album.artist%></h2>
	</header>
	<main>
	<form action="/albums/<%=album.id%>%>/edit">
		<input type="submit" value="edit">		
	</form>

</body>
</html>