  <% include ../partials/header.ejs %>

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form action="/albums/<%=album.id%>/edit">
		<input type="submit" value="edit">		
	</form>

	<form action="/linernotes" method="POST">
		<header>
			<h1><%=album.title%></h1>
			<h2><%=album.artist%></h2>
		</header>
		<main>
		<br>
		<br>
		<fieldset>
			<legend>Add Comment:</legend>
			<input name="albumId" value="<%=album.id%>" hidden></input>
			<textarea type="text" name="note"></textarea>
			<button>Submit Comment</button>
		</fieldset>
	</form>

</body>
</html>