<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1><%=album.title%></h1>
		<h2><%=album.artist%></h2>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/albums/index">Album Index</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<img src="<%=album.cover%>">
		Released: <%=album.year%><br>
	</main>
</body>
</html>