  <% include ../partials/header.ejs %>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Results</h1>
	</header>
	<main>
		<h2>Results: </h2>
		<div class="container">
			<% if (albums.length === 0){%>
				<p>No results match your search... :( <br><br> <a href="/search/">try again</a>?</p>
			<%} else {%>
			<%albums.forEach((elem, i) => {%>
				<div class="searchResults"><a href="/albums/new/<%=elem.id%>">
					<img src="<%=elem.cover_image%>"><br>
					<%=elem.title%> | <%=elem.artist%></a></div>
			<%})}%>
		</ul>
		</div>
	</main>
</body>
</html>